body {
    background-image: url("./BGcity.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.searchbar {
    margin-top: 20vh;
}
